.attendee-table-row {
  border-bottom: 1px solid rgb(202, 202, 202);
  color: rgb(56, 56, 56);
}

.attendee-table-row:hover {
  cursor: pointer;
  background-color: rgb(238, 238, 238);
}

.attendee-table-row td:first-child {
  text-align: center;
}

.selected {
  background-color: antiquewhite;
}